<template lang="pug">
div.productDetailPage
	div.container
		br
		div.media
			span
				img.titleImg(src="img/title/title.png" alt="")
			div.media-body
				h2 產品
		br
		//產品圖片
		div.row
			div.col-sm-6(v-for="(item, index) of targetProductData.imgList" v-if="item && index < 2" :key="index")
				div.card
					img.card-img-top(
						v-if ="targetProductData.imgList"
						data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" 
						alt="Thumbnail [100%x225]" 
						style="height: 225px; width: 100%; display: block;" 
						data-holder-rendered="true"
						:src="'img/product/'+item",
					)
		br
		div.row
			//產品介紹
			div.col-md-4
				div.card
					div.card-body
						h5.card-title(v-if ="targetProductData.title") {{targetProductData.title}}
				br
				div.card
					div.card-body
						p.card-text(v-if ="targetProductData.description") {{targetProductData.description}}
				br
				div.card
					div.card-body
						p.card-text(v-if ="targetProductData.description") 產季: {{targetProductData.Season}}
						p.card-text(v-if ="targetProductData.description") 產地: {{targetProductData.productPlace}}
						p.card-text(v-if ="targetProductData.description") 價格: {{targetProductData.price}}
				br
			//購買廠商
			div.col-md-4
				div.card
					div.card-body
						h5.card-title 購買廠商
						p.card-text 以下廠商均有與本行採購此生鮮產品，也歡迎您可以與本行合作。
				br
				div(v-for="(item, index) of targetCustomerData" :key="index")
					customerItem(:customer="item")
					br
			//替代商品
			div.col-md-4
				div.card.mb-4.box-shadow
					div.card-body
						h5.card-title 替代魚種
						p.card-text 生鮮產品貨源不固定，該產品貨源不足時本行推薦以下其他替代產品供您參考。
				div(v-for="(item, index) of targetAlternativeProduct" :key="index")
					productItem(:product="item")

				


</template>
<script>
import customerItem from '@/pages/customer/components/customerItem.vue'
import productItem from '@/pages/product/components/productItem.vue'
import { mapGetters, mapState, mapActions } from 'vuex';

export default {
    data(){
        return {
            productSid:-1
        }
	},
	components:{
		customerItem:customerItem,
		productItem:productItem
    },
    computed: {
		//產品資訊
		targetProductData(){
			return this.$store.getters['productModule/getProductDataBySid'](this.productSid)
		},
		//替代產品資訊
		targetAlternativeProduct(){
			return this.$store.getters['productModule/getProductDataBySids'](this.targetProductData.alternativeProduct)
		},
		//購買廠商資訊
		targetCustomerData(){
			return this.$store.getters['customerModule/getCustomerDataBySids'](this.targetProductData.corporateCustomer)
		}
	},
	mounted(){
		//初始化時執行
		window.scrollTo(0, 0);
		this.productSid = String(this.$route.query.sid);
		this.queryProduct()
		this.queryCustomer()
    },
    methods:{
		...mapActions(
			'productModule', ['queryProduct',]
		),
		...mapActions(
			'customerModule', ['queryCustomer',]
		),
    //     //設定產品資訊
    //     setProductInfo(sid){
    //         this.product = {}
    //         this.corporateCustomerList  = []
    //         this.alternativeProductList = []

    //         // window.console.log("do setProductDetail");
    //         this.axios({
    //             url:'data/product.json',
    //             params:{}
    //         }).then((res)=>{
    //             let corporateCustomer = []
    //             let productList = res.data
    //             for(let i=0;i<productList.length;i++){
    //                 let currentSid = productList[i].sid
    //                 if(sid === productList[i].sid){
    //                     this.product = productList[i]
    //                 }
    //             }

    //             //設定合作廠商
    //             this.setCorporateCustomer();

    //         }).catch(error => {
    //             window.console.error(error)
    //         });
    //     },
    //     //設定合作廠商
    //     setCorporateCustomer(){
    //         // window.console.log("do setCorporateCustomer");
    //         this.axios({
    //             url:'data/customer.json',
    //             params:{}
    //         }).then((res)=>{
    //             //尋找合作客戶資訊
    //             let customerList = res.data
    //             let corporateCustomer = this.product.corporateCustomer
    //             for(let i=0;i<customerList.length;i++){
    //                 let currentCustomerSid = customerList[i].sid
    //                 for(let j=0;j<corporateCustomer.length;j++){
    //                     if(corporateCustomer[j] === customerList[i].sid){
    //                         this.corporateCustomerList.push(customerList[i])
    //                     }
    //                 } 
    //             }
    //             //設定替代產品
    //             this.setAlternativeProduct();
    //         }).catch(error => {
    //             window.console.error(error)
    //         });
    //     },
    //     //設定替代產品
    //     setAlternativeProduct(){
    //         // window.console.log("do setAlternativeProduct");
    //         this.axios({
    //             url:'data/product.json',
    //             params:{}
    //         }).then((res)=>{
    //             //尋找合作客戶資訊
    //             let productList = res.data
    //             let alternativeProduct = this.product.alternativeProduct
    //             for(let i=0;i<productList.length;i++){
    //                 let currentProductSid = productList[i].sid
    //                 for(let j=0;j<alternativeProduct.length;j++){
    //                     if(alternativeProduct[j] === productList[i].sid){
    //                         this.alternativeProductList.push(productList[i])
    //                     }
    //                 } 
    //             }
    //             //顯示footer
    //             this.$store.dispatch({type:'footerModule/showFooter'});
                
    //         }).catch(error => {
    //             window.console.error(error)
    //         });
    //     },
    }
    
}
</script>
