<template lang="pug">
	div.productRecommendPage
		br
		div.media
			span
				img.titleImg(src="img/title/title.png", alt="")
			div.media-body
				h2  店家推薦
		br
		div.album.py-5(v-bind:style="{backgroundImage:'url(img/background/productRecommend_bg.jpg)', backgroundRepeat:'no-repeat', backgroundSize: 'cover'}")
			div.container
				div.row
					div.col-md-4(v-for="(item, index) of recommendProductData" v-if="item.isRecommend" :key="index")
						productItem(:product="item")
</template>
<script>
import productItem from '@/pages/product/components/productItem.vue'
import { mapGetters, mapState, mapActions } from 'vuex';

export default {
    data(){
        return{
            productRecommendList:[]
        }
    },
    components:{
        productItem:productItem
    },
    computed: {
		recommendProductData(){
			return this.$store.getters['productModule/getRecommendProductData']
		}
	},
    mounted(){
        //初始化時執行
        this.queryProduct()
    },
    methods:{
        ...mapActions(
            'productModule', ['queryProduct',]
		),
    }
    
}
</script>
<style scoped>
.productRecommendPage{
    padding-top: 20px;
    padding-right: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
}
</style>