<template lang="pug">
    div.customerItem
        div.card
            div.card-body
                h5.card-title   {{customer.name}}
                iframe(
                    width='100%' 
                    height='200' 
                    frameborder='0' 
                    scrolling='no' 
                    marginheight='0' 
                    marginwidth='0' 
                    v-bind:src="'https://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q='+customer.address+'&z=16&output=embed&t='"
                )
</template>
<script>
export default {
    props: {
        customer: {
              type: Object,
              default: () => {
                return { 
                    sid: '1'
                }
              }
        }
    },
}
</script>