<template lang="pug">
<!--產品項目組件-->
	div.productItem(@click="goProductDetail()")
		div.card.mb-4.shadow-sm
			b-card(
				:header="product.title",
				header-text-variant="white",
				header-tag="header",
				header-bg-variant="dark",
				img-height="150px",
				:img-src="'img/productRecommend/'+product.imgList[0]",
				img-alt="Image",
				img-top
			) {{product.description}}
</template>
<script>
export default {
	props: {
        product: {
              type: Object,
              default: () => {
                return { 
                    sid: '1'
                }
              }
        }
	},
	methods:{
        goProductDetail(){
            window.console.log("do goProductDetail");
            this.$router.push(
              { 
                  path: '/productDetailPage', 
                  query: 
                  {
                      "sid": this.product.sid
                  } 
              }
          );
        }
    }
}
</script>
<style scoped>
.productItem{
    cursor:pointer
}
</style>

