<template lang="pug">
  div.homePage
    banner
    companyGoal
</template>

<script>
import banner from '@/pages/home/components/banner.vue'
import companyGoal from '@/pages/home/components/companyGoal.vue'

export default {
  components: {
    banner,
    companyGoal
  }
}
</script>

<style>
</style>
