@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,700');
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}body{margin:0;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;margin:0.67em 0;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:bold;}dfn{font-style:italic;}hr{-moz-box-sizing:content-box;box-sizing:content-box;height:0;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace,serif;font-size:1em;}pre{white-space:pre-wrap;}q{quotes:"\201C" "\201D" "\2018" "\2019";}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-0.5em;}sub{bottom:-0.25em;}img{border:0;}svg:not(:root){overflow:hidden;}figure{margin:0;}fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}legend{border:0;padding:0;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,select{text-transform:none;}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}button[disabled],html input[disabled]{cursor:default;}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}
*,
*::after,
*::before {
	box-sizing: border-box;
}

html {
	background: #fff;
}

body {
	font-family: 'Barlow Semi Condensed',-apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	min-height: 100vh;
	color: #57585c;
	color: var(--color-text);
	background-color: #fff;
	background-color: var(--color-bg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* Color schemes */
.demo-1 {
	--color-text: #333;
	--color-bg: #000;
	--color-link: #aaa;
	--color-link-hover: #333;
	--color-info: #7239c0;
}

.demo-2 {
	--color-text: #333;
	--color-bg: #fff;
	--color-link: #d3482e;
	--color-link-hover: #333;
	--color-info: #333;
}

.demo-3 {
	--color-text: #333;
	--color-bg: #fff;
	--color-link: #3860d0;
	--color-link-hover: #333;
	--color-info: #333;
}

/* Page Loader */
.js .loading::before {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: var(--color-bg);
}

.js .loading::after {
	content: '';
	position: fixed;
	z-index: 100000;
	top: 50%;
	left: 50%;
	width: 60px;
	height: 60px;
	margin: -30px 0 0 -30px;
	pointer-events: none;
	border-radius: 50%;
	opacity: 0.4;
	background: var(--color-link);
	animation: loaderAnim 0.7s linear infinite alternate forwards;
}

@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.5,0.5,1);
	}
}

a {
	text-decoration: none;
	color: var(--color-link);
	outline: none;
}

a:focus {
	outline: none;
}

a:hover {
	color: var(--color-link-hover);
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}

.message {
	position: relative;
	z-index: 100;
	display: none;
	padding: 1em;
	text-align: center;
	color: var(--color-bg);
	background: var(--color-text);
}

/* Icons */
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

.icon--keyboard {
	display: none;
}

main {
	position: relative;
	width: 100%;
}

.content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	min-height: 100vh;
}

.content--fixed {
	position: fixed;
	z-index: 10000;
	top: 0;
	left: 0;
	display: grid;
	align-content: space-between;
	width: 100%;
	max-width: none;
	min-height: 0;
	height: 100vh;
	padding: 1.5rem;
	pointer-events: none;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto 4em;
	grid-template-areas: 'header header'
	'... ...'
	'github pagination';
}

.content--fixed a {
	pointer-events: auto;
}

/* Header */
.codrops-header {
	position: relative;
	z-index: 100;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	align-items: center;
	align-self: start;
	grid-area: header;
	justify-self: start;
	pointer-events: auto;
}

.codrops-header__title {
	font-size: 1em;
	font-weight: bold;
	margin: 0 2em 0 0;
	padding: 0.75em 0;
}

.info {
	margin: 0 0 0 1.25em;
	color: var(--color-info);
}

.github {
	display: block;
	align-self: end;
	grid-area: github;
	justify-self: start;
}

.demos {
	position: relative;
	display: block;
	text-align: center;
}

.demo {
	margin: 0 0.25em;
}

.demo:hover,
.demo:focus {
	opacity: 0.5;
}

.demo span {
	white-space: nowrap;
	pointer-events: none;
}

a.demo--current {
	pointer-events: none;
	color: var(--color-text);
}

/* Top Navigation Style */
.codrops-links {
	position: relative;
	display: flex;
	justify-content: center;
	margin: 0 1em 0 0;
	text-align: center;
	white-space: nowrap;
}

.codrops-icon {
	display: inline-block;
	margin: 0.15em;
	padding: 0.25em;
}

.slides {
	position: relative;
	width: 100%;
	height: 100vh;
	margin: auto;
	pointer-events: none;
}

.slide {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slide--current {
	opacity: 1;
}

.slide__img {
	position: absolute;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: 50% 50%;
}

.slide__img-size1,
.slide__img-size2,
.slide__img-size3 {
	max-width: 800px;
	max-height: 1200px;
	min-width: 280px;
	min-height: 280px;
}

.slide__img-size1 {
	width: 40vw;
}

.slide__img-size2 {
	width: 60vw;
	height: 60vh;
}

.slide__img-size3 {
	width: 40vw;
	height: 40vw;
	max-width: 800px;
	max-height: 800px;
}

.pagination {
	align-self: end;
	justify-self: end;
	grid-area: pagination;
	display: flex;
	pointer-events: auto;
}

.pagination__item {
	font-weight: bold;
	justify-content: center;
	align-items: center;
	display: flex;
	margin: 0 0 0 1.25rem;
	font-size: 1.25em;
	cursor: pointer;
	color: var(--color-link);
}

.pagination__item--current {
	color: var(--color-text);
}

.grid {
	padding: 20vh 0;
	max-width: 1000px;
	display: grid;
	grid-row-gap: 20vh;
	grid-template-columns: repeat(2, 1fr);
}

.grid__item {
	position: relative;
}

.grid__item-titlewrap {
	bottom: 10%;
	position: absolute;
}

.grid__item-title {
	font-size: 8vw;
	line-height: 1;
	margin: 0;
}

.grid__item-description {
	margin: 0;
	font-size: 1.5rem;
}

.grid__item:nth-child(odd) {
	align-self: start;
}

.grid__item:nth-child(odd) .grid__item-titlewrap {
	right: -5vw;
}

.grid__item:nth-child(even) {
	margin: 70vh 0 0 0;
}

.grid__item:nth-child(even) .grid__item-titlewrap {
	left: -5vw;
}

.scroll-img {
	width: 500px;
	max-width: 100%;
	height: 50vh;
	/* min-width: 250px; */
	min-height: 250px;
	/* background-size: cover; */
	background-size: 100% 100%;
}



@media screen and (max-width: 55em) {
	.slides {
		position: absolute;
		top: 0;
		margin-bottom: 20vh;
	}
	.slide {
		align-items: flex-start;
	}
	.pagination {
		justify-content: center;
	}
	.pagination__item {
		margin: 0 0.5em;
	}
	.content {
		flex-direction: column;
		height: auto;
		min-height: 0;
		padding-bottom: 10em;
	}
	.content--fixed {
		position: relative;
		z-index: 1000;
		display: block;
		padding: 0.85em;
	}
	.codrops-header {
		flex-direction: column;
		align-items: center;
	}
	.codrops-header__title {
		font-weight: bold;
		padding-bottom: 0.25em;
		text-align: center;
		margin: 0 0 1rem 0;
	}
	.info {
		margin: 0;
	}
	.github {
		display: block;
		margin: 1em auto 4em;
	}
	.codrops-links {
		margin: 0;
	}
	.grid {
		display: block;
		margin: 0;
		padding: 0;
	}
	.grid__item {
		margin: 0 0 8rem !important;
	}
	.scroll-img {
		margin: 0 auto;
	}
	.grid__item-titlewrap {
		padding: 1rem 0 0 0;
		position: relative;
		text-align: center;
		left: 0 !important;
		right: 0 !important;
		width: 100%;
		display: block;
	}
}
