<template>
<div class="footerMenu">
<footer class="page-footer font-small blue" v-show="footerIsShow">
<div class="p-3 bg-dark text-white">
      <p class="text-white"><em>電話(早) : (02)25117760 - 05:00-11:30</em></p>
      <p class="text-white"><em>電話(午) : (02)25313496 - 13:00-21:00</em></p>
      <p class="text-white"><em>營業時間 : 0600 - 1100</em></p>
</div>
</footer>
</div>
</template>
<script>
export default {
    computed: {
		footerIsShow () { return this.$store.getters['footerModule/getFooterIsShow']}
    },
}
</script>
<style>
.footerMenu{
    /* height: 100px; */
    position:relative;
    margin-bottom:0px;
}
</style>
