<template lang="pug">
    div.navigation.bg-info.site-header.sticky-top.py-1
        div
            b-navbar(toggleable="lg" type="dark" variant="info")
                b-navbar-brand(href="#")
                    img.logoImg.rounded.mx-auto.d-block(src="img/logo/logo.jpg" alt="...")
                b-navbar-toggle(target="nav-collapse")
                b-collapse(id="nav-collapse" is-nav)    
                    b-navbar-nav
                        router-link(to="/home")
                            b-nav-item(href="javascript:void(0);") 首頁
                        router-link(to="/productRecommendPage")
                            b-nav-item(href="javascript:void(0);") 店家推薦
                        //- router-link(to="/aboutPage")
                            //- b-nav-item(href="javascript:void(0);") 關於我們
                    b-navbar-nav.ml-auto
                        b-nav-form
                            multiselect(
                                :options="targetProductData",
                                placeholder="找產品",
                                label="title",
                                track-by="title",
                                @select="searchProductName",
                            )
							
</template>
<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style lang="sass">
@media (min-width: 0px) and (max-width: 800px) 
    img.logoImg 
        height: 50px
        width: 100px
    
@media (min-width: 801px)
    img.logoImg 
        height: 50px
        width: 150px
    
</style>
<script>

  import Multiselect from 'vue-multiselect'
  import { mapGetters, mapState, mapActions } from 'vuex';
  export default {
    data() {
      return {
		selectProduct: {},
        value: { name: 'Vue.js', language: 'JavaScript' },
        options: [
			{ name: 'Vue.js', language: 'JavaScript' },
			{ name: 'Rails', language: 'Ruby' },
			{ name: 'Sinatra', language: 'Ruby' },
        	{ name: 'Laravel', language: 'PHP' },
        	{ name: 'Phoenix', language: 'Elixir' }
      		]
      }
	},
	components: {
    	Multiselect
  	},
	computed: {
		//產品資訊
		targetProductData(){
			return this.$store.getters['productModule/getProductData']
		},
		targetProductDataByName(){
			return this.$store.getters['productModule/getProductDataByName'](this.selectProduct.title)
		},		
	},
	mounted(){
        //初始化時執行
        this.queryProduct()
    },
	methods:{
		...mapActions(
			'productModule', ['queryProduct',]
		),
		nameWithLang (query) {
      		return `${query.title}`
    	},
		searchProductName(query){
			if(this.selectProduct != {}){
				let sid = this.$store.getters['productModule/getProductDataByName'](query.title).sid;
				if(sid != null){
					this.goProductDetail(sid)
					//this.productName = "";
				}else{
					alert("找不到產品")
				}
			}
		},
		goProductDetail(sid){
            window.console.log("do goProductDetail");
            this.$router.push(
              { 
                  path: '/productDetailPage', 
                  query: 
                  {
                      "sid": sid
                  } 
              }
          );
        }
	}
  }
</script>
