<template lang="pug">
    div.banner
        section
            swipe.my-swipe(:showIndicators="true")
                swipe-item.slideStyle(v-for="(item, index) of bannerData.data" :key="index")
                    img.first-slide.w-100.swipe-img(:src="'img/banner/'+item.img" alt="First slide")
</template>
<script>
import { mapActions } from 'vuex';
import { Swipe, SwipeItem } from 'vue-swipe';
export default {
    data(){
        return {
            bannerList:[]
        }
    },
    components: {
        Swipe,SwipeItem
    },
    computed: {
		bannerData(){
			return this.$store.getters['homeModule/getBannerData']
		}
	},
    mounted(){
        this.queryBanner();
    },
    methods:{
        ...mapActions(
            'homeModule', ['queryBanner',]
		),
    }
}
</script>
<style scoped>
@import url('../../../../node_modules/vue-swipe/dist/vue-swipe.css');    
.my-swipe {
  color: #fff;
  font-size: 30px;
  text-align: center;
}

.swipe-img{
    height: 100%;
}

@media (min-width: 0px) and (max-width: 400px) {
    .my-swipe {
        height: 200px;
    }
}
@media (min-width: 401px) and (max-width: 800px) {
    .my-swipe {
        height: 250px;
    }
}
@media (min-width: 801px) and (max-width: 1200px) {
    .my-swipe {
        height: 250px;
    }
}
@media (min-width: 1201px){
    .my-swipe {
        height: 450px;
    }
}

.slideStyle{line-height: 155px;} 
</style>