<template lang="pug">
	div.companyGoal(v-bind:style="{backgroundImage:'url(img/background/companyGoal_bg.jpg)', backgroundRepeat:'no-repeat', backgroundSize: 'cover'}")
		div.text-center.pb-lg-4
			h2  能給您甚麼
			h5  我們希望能夠給您煥然一新的採購體驗
		div.demo-3
			div.content.grid
				div.grid__item(v-for="(item, index) in companyGoalData.data", v-bind:id="item.sid")
					div.scroll-img(v-bind:style="{ 'background-image': 'url(img/banner/' + item.img + ')' }")
					div.grid__item-titlewrap
						h2 {{ item.title }}
						p.grid__item-description {{ item.content }}
</template>
<script>
import anime from 'animejs/lib/anime.es.js';
import { mapGetters, mapState, mapActions } from 'vuex';
export default {
	mounted () {
		this.queryCompanyGoal()
		this.init()
 	},
 	computed: {
    // ...mapGetters('homeModule', [
		// 	'getCompanyGoalData',]
		// ),
		companyGoalData(){
			return this.$store.getters['homeModule/getCompanyGoalData']
		}

		//  ...mapState('homeModule', [
		// 	'companyGoalData',]
		// ),
	},
	updated() {
  	this.init()
	},
 	methods: {
	 	...mapActions(
      'homeModule', 
      ['queryCompanyGoal',]
		 ),
		 init() {
				let elem = document.querySelectorAll('.grid__item');
				elem.forEach(x => {
       			this.waypoint = new window.Waypoint({
							element: x,
							offset: '100%',
							handler: (direction) => {
								console.log('entered: '+direction);
								this.appearObj(anime, x);
           			// x.classList.add('visible')
         			},
       			})
     		})
    },
 },
 beforeDestroy: function () {
   this.waypoint.destroy()
 }
}
</script>

<style scoped>
@import '../../../assets/css/base.css';
@import '../../../assets/css/uncover.css';
</style>

<style lang="scss" scoped>
.companyGoal {
    height: 100%;
	padding-top: 15px;
}
</style>
