<template>
  <div id="app">
    <navigation></navigation>
        <transition mode="out-in"
          enter-active-class = "animated fadeIn"
          leave-active-class = "animated fadeOut"
        >
          <router-view :key="Math.random()"></router-view>
        </transition>
    <footerMenu></footerMenu>
  </div>
</template>

<script>
import navigation from '@/components/navigation.vue'
import footerMenu from '@/components/footerMenu.vue'

export default {
  name: 'app',
  components: {
    navigation,
    footerMenu
  }
}
</script>

<style>
.titleImg{
    height:50px;
    width:100px;
    /* background-color: yellow; */
    margin-bottom:2px;
} 
</style>
