<template lang="pug">
    div.about.container
        h1 源起
        div.ml-3.mt-2.
            於1960年代，正值台灣經濟起飛..
        h1 公司沿革
        div.ml-3.mt-2
            ul
                li
                    span.
                        #[strong 1960]年，「大同油魚號」公司成立，主要販售冷凍海鮮產品。
                li
                    span.
                        #[strong 1990]年，公司開始轉型，以販售生鮮類海鮮產品為主。
                li
                    span.
                        #[strong 1991]年，公司改名「大同鮮魚號」。
                li
                    span.
                        #[strong 2019]年，公司開始踏足網路市場。
        h1 營運範疇
        div.ml-3.mt-2
            div 
                h4  #[strong 國際化]
                span.ml-3.mt-2.
                    ppp
            div
                h4  #[strong 生鮮化]
            div 
                h4  #[strong 企業化]
            
        //- div.card
        //-     div.card-body
        //-         h5.card-title   111
                //- iframe(
                //-     width='100%' 
                //-     height='200' 
                //-     frameborder='0' 
                //-     scrolling='no' 
                //-     marginheight='0' 
                //-     marginwidth='0' 
                //-     v-bind:src="'https://maps.google.com.tw/maps?f=q&hl=zh-TW&geocode=&q='+customer.address+'&z=16&output=embed&t='"
                //- )
</template>
<style>
.form-control-xxx {
    width:200px;
    display:inline;
}
</style>